* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.col_4 {
    width: 25%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.container {
    padding: 0 72px;
}

body {
    background-color: #181818;
    color: #fff;
    font-weight: 500;
}

.Section {
    padding: 22px 0;
}

.btn-join {
    padding: 9px 20px;
    background: #d9232e;
    border: none;
    outline: none;
    font-size: 13px;
    color: #fff;
    border-radius: 2px;
}
.btn-join:hover {
    background: red;
    cursor: pointer;
}

/* ===========header=========== */
.header {
    background: #000;
    padding: 10px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    width: 100px;
}

.header .h-data {
    display: flex;
    align-items: center;
}

.header p {
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    margin-right: 8px;
}

.header .btn-2 {
    font-size: 13px;
    border: none;
    border: 1px solid #888;
    outline: none;
    color: #fff;
    padding: 9px 20px;
    margin-left: 8px;
    background: transparent;
    border-radius: 2px;
}

.header .btn-2:hover {
    background: #2d2d2d;
    cursor: pointer;
}

/* =========banner======== */
.banner {
    background: #000;
    display: flex;
}

.banner .banner-img {
    position: relative;
    width: 100%;
    height: 95vh;
}

.banner .banner-img::after {
    position: absolute;
    content: '';
    height: 95vh;
    width: 70%;
    background: linear-gradient(90deg, #000 10%, hsla(0, 0%, 9%, .98) 20%, hsla(0, 0%, 9%, .97) 25%, hsla(0, 0%, 9%, .95) 35%, hsla(0, 0%, 9%, .94) 40%, hsla(0, 0%, 9%, .92) 45%, hsla(0, 0%, 9%, .9) 50%, hsla(0, 0%, 9%, .87) 55%, hsla(0, 0%, 9%, .82) 60%, hsla(0, 0%, 9%, .75) 65%, hsla(0, 0%, 9%, .63) 70%, hsla(0, 0%, 9%, .45) 75%, hsla(0, 0%, 9%, .27) 80%, hsla(0, 0%, 9%, .15) 85%, hsla(0, 0%, 9%, .08) 90%, hsla(0, 0%, 9%, .03) 95%, hsla(0, 0%, 9%, 0));
}

.banner .banner-img img {
    position: absolute;
    max-width: 100%;
    left: 185px;
}

.banner .b-left {
    position: relative;
    z-index: 99;
    width: 50%;
    padding: 0 76px;
    margin-top: 100px;
}

.banner .b-left {
    position: absolute;
    left: 0;
}

.banner .b-left img {
    height: 191px;
    padding: 0;
}

.b-left .b-data {
    margin-top: 40px;
}

.b-left .b-data h1 {
    color: #fff;
    text-align: left;
    margin: 10px 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
}

.b-left .metadata-1 {
    margin-top: 16px;
    text-align: left;
    color: #a3a3a3;
    font-weight: 400;
}

.b-left .metadata-1 .b-content {
    border: 1px solid #a1a1a1;
    padding: 0 5px;
}

.b-left .metadata-1 .v-line {
    margin: 0 5px;
}

.b-left .metadata-2 p {
    color: #fff;
    font-size: 16px;
    text-align: left;
    width: 80%;
    padding-top: 16px;
}

.b-left .metadata-3 {
    display: flex;
    color: #fff;
    font-size: 16px;
    padding-top: 16px;
}

.b-left .metadata-3 .m-1 {
    color: #a3a3a3;
    margin-right: 5px;
}

/* =========component2======== */
.Join {
    width: 1263px;
    height: 50px;
    padding: 8px 25px;
    background-image: linear-gradient(90deg, #333 5%, #181818 95%);
    margin: 0 auto;
    z-index: 2;
    box-shadow: 8px 5px 16px 0 rgba(0, 0, 0, .37);
    margin-bottom: 32px;
    margin-top: -64px;
    position: relative;
    justify-content: space-between;

}

.S_logo {
    width: 20px;
}

.Join .bahubali_normal_text {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    max-width: 100%;
    margin-left: 18px;
}

/* ===========component3=========== */
.more_detail {
    position: relative;
}

.more_detail p {
    text-align: center;
    color: #a3a3a3;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 18px;
}

.more_line {
    background: linear-gradient(90deg, #777 0, rgba(51, 51, 51, .5) 50%, #777);
    height: 1px;
    margin-bottom: 18px;
}

.head_text {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    line-height: 34px;
    margin: 0 0 15px;
}

.more_text_dark {
    color: #a3a3a3;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    max-width: 500px;
    margin-bottom: 6px;
}

.more_text {
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    white-space: pre-wrap;
    margin-bottom: 7px;
}

/* ===========component4=========== */
.component4 img {
    width: 100%;
}

.col {
    padding: 5px;
}

/* ===========footer=========== */
footer {
    margin-top: 80px;
    padding-bottom: 30px;
}

.Footer_Text {
    width: 250px;
    margin: 0 0 16px;
    padding: 0 12px 0 0;
}

.Footer_Text a {
    color: #737373;
    font-size: 13px;
}

.select {
    padding: 12px;
    outline: none;
    user-select: none;
    background-color: #000;
    background-image: none;
    border: 1px solid #333;
    color: #fff;
}